.hero-container{
    min-height: calc(100vh - 100px);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-text-container{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 2.5rem;
    max-width: 60%;
    padding: 2rem 0;
}

.hero-buttons button{
    padding: 1.3rem;
    font-size: 1.1rem;
    background-color: transparent;
    color: #171616;
    border-radius: 15px;
    margin-right: 1rem;
    cursor: pointer;
}

.picture-grid{
    width: 100%;
    position: relative;
    padding-top: 2rem;
}

.picture-grid img{
    width: 250px;
}

.picture-grid .pic-1{
    position: absolute;
    right: 0;
    top: 20%;
}

@media only screen and (max-width: 720px) {
    .hero-container{
        display: block;
    }
    .main-text-container{
        max-width: 100%;
        text-align: center;
    }
}